[submodule "MyEssentials-TestSuite"]
	path = MyEssentials-TestSuite
	url = http://github.com/MyEssentials/MyEssentials-TestSuite
[submodule "UniversalCoins"]
	path = UniversalCoinsMod
	url = https://github.com/notabadminer/UniversalCoinsMod.git
[submodule "UniversalCoinsServer"]
	path = UniversalCoinsServer
	url = https://github.com/joserobjr/UniversalCoinsServer.git
