[submodule "CraftGuide"]
	path = CraftGuide
	url = https://github.com/joserobjr/CraftGuide.git
[submodule "UniversalCoinsServer"]
	path = UniversalCoinsServer
	url = https://github.com/MagiTechServer/UniversalCoinsServer
[submodule "UniversalCoinsMod"]
	path = UniversalCoinsMod
	url = https://github.com/MagiTechServer/UniversalCoinsMod
